.card {
	background-color: white;
}

.card-footer {
	border: solid #e3e9f2 2px;
	background-color: #e3e9f2;
	padding: -20px;
}

.profile-pic {
	max-width: 70%;
	margin-top: 20px;
}

.shadow {
	box-shadow: 4px 4px 2px #ccc;
}

.b {
    list-style: none;
}

.space1 {
	margin-top: 20px;
}

.space2 {
	margin-bottom: 20px;
}

.space3 {
	margin-top: 200px;
}

.space4 {
	margin-bottom: 200px;
}

.space5 {
	margin-bottom: 27px;
}

.space6 {
	margin-top: 250px;
}

.space7 {
	margin-bottom: 0px;
	padding: 0px;
}

.headerfooter {
	background-color: #e3e9f2;
	padding: 0px;
}

.headings {
	color: #9fc2fc;
}

.background {
	background-image:url("../img/forgetmenot.jpeg");
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	background-color: #b8d0e5;
	background-repeat: no-repeat;
	background-position: center;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #9fc2fc;
  border-color: #9fc2fc;
}

.indextext1 {
	color: white;
	font-size: 75px;
}

.indextext2 {
	color: white;
	font-size: 25px;
}

.fit {
	min-width: 80%;
}

.commentsize {
	min-height: 100px;
}

.pad {
	padding: 20px;
}

.pad2 {
	padding: 50px;
}

.lines {
	border: solid #e3e9f2 1px;
}

.fadeInUp {
	-webkit-animation-duration:2s;
	animation-duration:2s;
}

.leftgap {
	margin-left: 20px;
}

.gap {
	margin-left: 15px;
}

.image {
	max-width: 70%;
}

.background2 {
	background-color: #e0ecff;
}

.footerfix {
	position: fixed;
	right: 0px;
	bottom:0px;
	left: 0px;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.animated-button.victoria-four {
	border: 2px solid #9fc2fc;
}

.animated-button.victoria-four:after {
	background: #9fc2fc;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
