.card {
	border: solid #9fc2fc 2px;
	border-radius: 4px;
	padding: 20px;
	margin-bottom:10px;
}

.card-footer {
	border: solid #e3e9f2 2px;
	background-color: #e3e9f2;
	padding: -20px;
}

.profile-pic {
	max-width: 70%;
	margin-top: 20px;
}

.shadow {
	box-shadow: 4px 4px 2px #ccc;
}

.b {
    list-style: none;
}

.space1 {
	margin-top: 20px;
}

.space2 {
	margin-bottom: 20px;
}

.space3 {
	margin-top: 200px;
}

.space4 {
	margin-bottom: 200px;
}

.space5 {
	margin-bottom: 27px;
}

.headerfooter {
	background-color: #e3e9f2;
	padding: 0px;
}

.headings {
	color: #9fc2fc;
}

.background {
	background-image:url("../img/forgetmenot.jpeg");
	background-size: cover;
	background-color: #b8d0e5;
	background-repeat: no-repeat;
	background-position: center;
}

.footerfix {
	margin-bottom: 0px;
	margin-top: 0px;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #9fc2fc;
  border-color: #9fc2fc;
}

.indextext1 {
	color: white;
	font-size: 75px;
}

.indextext2 {
	color: white;
	font-size: 25px;
}

.fit {
	min-width: 80%;
}

.commentsize {
	min-height: 100px;
}

.pad {
	padding: 20px;
}

.lines {
	border: solid #e3e9f2 1px;
}

.fadeInUp {
	-webkit-animation-duration:2s;
	animation-duration:2s;
}

.leftgap {
	margin-left: 20px;
}

.gap {
	margin-left: 15px;
}

.image {
	max-width: 70%;
}